Chapters/.*.tex.swp
Thesis.aux
Thesis.bbl
Thesis.bib
Thesis.blg
Thesis.cls
Thesis.log
Thesis.out
Thesis.pdf
Thesis.pdfsync
Thesis.toc
_region*
*.dvi
*.prv
*.log
*.gz
*.fdb_latexmk
*.aux
*.fls
auto/
.#prv_*